@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  height: auto;
  padding: 12px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background: #b83986; /* your navbar color */
  color: white;
}


.navbar {
  background-color: #9c3272;
  padding: 10px ;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.logo-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links a {
  color: white;
  padding: 4px 10px; /* ✅ spacing کم کر دیا */
  border: 2px solid #ffffff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}


.nav-links a:hover {
  color: #ffb3e6;
}
body {
  background: #f5e6f0;
  min-height: 100vh;
}

/* Push login form below navbar */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px; /* ✅ Perfect form position */
}



.form-box {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #ffffff;
  border-radius: 15px;
  border: 2px solid #d164a9;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: none;}

.form-box.active {
  display: block;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 12px;
  background: #f0f0f0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #231b20;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4c042f;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #d164a9;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.5s;
}

button:hover {
  background-color: #dc67ad;
}

p {
  font-size: 14.5px;
  text-align: center;
  margin-bottom: 10px;
  color: #b20882;
}

p a {
  color: #cd6a08;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
