@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #c2a2b9, #a72388);
  color: black;
  
}

.container {
  margin: 0 15px;
  color: #8a0b66;
}

.form-box {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  background-color: #c2a2b9;
}

.form-box.active {
  display: block;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 12px;
  background: #f0f0f0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #231b20;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4c042f;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #d164a9;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.5s;
  text-decoration-color: #8a0b66;
}

button:hover {
  background-color: #dc67ad;
}

p {
  font-size: 14.5px;
  text-align: center;
  margin-bottom: 10px;
  color: #b20882;
}

p a {
  color: #cd6a08;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
